* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
h1 {
    color: #fff;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: gray;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo {
    width: 200px;
    height: 100px;
}
.main-menu {
    text-align: right;
}
.main-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-menu li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.main-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    font-family: rockwell;
}
#welcome-message {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 300px;
    margin-left: 350px;
    margin-bottom: 50px;
    border-right: 2px solid #000;
    animation: typing 3s steps(80, end) infinite;
    font-size: 48px;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
    50% {
        border-right: none;
    }
}
.typing-animation {
    animation: typing 2s infinite;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.button1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    margin-bottom: 50px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background-color: #ff004f;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.button2 {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    margin-bottom: 300px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background-color: #ff004f;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
#about {
    padding: 80px;
    color: #ababab;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
    margin-top: 50px;
}
.about-col-1 img {
    width: 100%;
    border-radius: 50px;
}
.about-col-2 {
    flex-basis: 60%;
    margin-top: 50px;
}
.sub-header {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
.description {
    font-size: 24px;
    color: #fff;
}
.skillset {
    display: flex;
    margin: 20px 0 40px;
    color: #fff;
}
.skillset-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.skillset-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.skillset-links.active-link::after {
    width: 50%;
}
.skillset-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: #fff;
}
.skillset-contents ul li span{
    color: #ffbf00;
    font-size: 22px;
    font-weight: bold;
}
.skillset-contents {
    display: none;
    font-size: 20px;
}
.skillset-contents.active-skillset {
    display: block;
}
.portfolio {
    text-align: center;
    background-color: transparent;
    padding: 50px 0;
    color: white;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.roww {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
}
.work {
    width: 300px;
    height: auto;
    margin: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.work h2 {
    margin-top: 10px;
}
.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    aspect-ratio: 1/1;
    transition: transform 0.5s;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Background color with some transparency */
}
.work img:hover {
    transform: translateY(-25px);
}
.work:hover .overlay-text {
    opacity: 1;
}
.contact-left {
    flex-basis: 20%;
    margin-left: 125px;
}
.contact-right {
    flex-basis: 50%;
    margin-right: 125px;
}
.contact-left p{
    margin-top: 30px;
    color: white;
    font-size: 18px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    margin-top: 30px;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}
.contact-right form {
    width: 500px;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.submit-btn {
    display: inline-block;
    background-color: #ff004f;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 14px;
}
form p {
    color: white;
    font-size:20px;
}
.image-container {
    position: relative;
}
